@font-face {
    font-family: "Material Icons";
    src: url("assets/fonts/MaterialIcons.ttf");
}

.root {
    -fx-padding: 0px; /* Add a small padding around the window */
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

/* Page styles */
.titlePage {
    -fx-background-color: #25ac3b;
}

.titlePageButton {
    -fx-font-size: 20px; 
    -fx-background-color: DARKBLUE; 
    -fx-text-fill: WHITE
}

.titlePageButton:hover {
    -fx-background-color: #6c64b3;
}

.highScoresPage {
    -fx-background-color: DARKBLUE; 
    -fx-text-fill:  DARKBLUE;
}

.highscorePageButton {
    -fx-font-size: 20px; 
    -fx-background-color: #25ac3b;
    -fx-text-fill: DARKBLUE; 
}

.highscorePageButton:hover {
    -fx-background-color: #7bee8e;
}

.newHighscorePage{
    -fx-background-color: #25ac3b;
    -fx-text-fill: DARKBLUE;  
}

.aboutPage{
    -fx-background-color: #25ac3b;
    -fx-text-fill: DARKBLUE; 
}

.helpPage{
    -fx-background-color: DARKBLUE; 
    -fx-text-fill: WHITE
}

/* Game styles */

.gamePage {
    -fx-background-color: #00BFFF;
}

.dataVBox {
    -fx-font-size: 32px;
    -fx-padding: 10px;
}

.material-icons {
    -fx-font-family: "Material Icons";
    -fx-font-size: 32px;
}

.gameOverPane {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

.gameOverHeader {
    -fx-font-size: 48px;
    -fx-text-fill: #FFFFFF;
}

.gameOverMessage {
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}

.gamePausedPane {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

.gamePausedHeader {
    -fx-font-size: 48px;
    -fx-text-fill: #FFFFFF;
}

.playPauseButton {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-font-size: 24px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border: none;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
    -fx-background-insets: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 0);
}

.playPauseButton:hover {
    -fx-background-color: #CCCCCC;
}

.playPauseLabel {
    -fx-text-fill: #CCCCCC;
}

.menuButton {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border: none;
    -fx-min-width: 256px;
    -fx-max-width: 256px;
    -fx-background-insets: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 0);
}

.menuButton:hover {
    -fx-background-color: #CCCCCC;
}

.halfMenuButton {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border: none;
    -fx-background-insets: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 0);
    -fx-pref-width: 128px;
}

.halfMenuButton:hover {
    -fx-background-color: #CCCCCC;
}

.load-save {
    -fx-min-width: 256px;
    -fx-max-width: 256px;
}

.levelWonPane {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

.levelWonHeader {
    -fx-font-size: 48px;
    -fx-text-fill: #FFFFFF;
}